/* font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
}

h1,h3{
    color: #606d5f;
}
h3{
    font-size: 2.2rem;
    font-weight: 750;
    text-transform: capitalize;
}
p, li, a, button {
    color: #888888;
}
p{
    font-size: 1.8rem;
    line-height: 150%;
    font-style: normal;
    font-weight: normal;
}

a{
    text-decoration: none;
    cursor: pointer;
}
li{
    list-style: none;
}
button{
    padding: 1rem 3rem;
    border-radius: 2rem;
    border: none;
    outline: none;
    line-height: 3.6rem;
    text-transform: capitalize;
    cursor: pointer;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
}


/* -----------Header section css---------------  */

header{
    padding: 0 20rem;
    width: 100%;
}

.navigation{
    display: flex;
    justify-content: space-between;
    height: 12rem;
    align-items: center;
}
.logo h1{
    font-size: 3rem;
}
.menu{
    display: flex;
}
.menu a{
    margin-left: 4rem;
}
.menu li{
    text-transform: capitalize;
    font-size: 2rem;
    line-height: 3.6rem;
    transition: all 0.5s;
}
.menu a li:hover{
    color: rgb(7, 94, 65);
}

/* hero section css  */
.hero-section{
    padding: 0 20rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
}
.hero-left{
    width: 50%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.hero-left h1{
    width: 40rem;
    font-size: 5rem;
    line-height: 5rem;
    margin-bottom: 4rem;
    text-transform: capitalize;
}
.hero-left p{
    width: 45rem;
    margin-bottom: 3rem;
}

.hero-right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-right img{
    width: 100%;
}

/* feature section  */

.feature{
    padding: 0 20rem;
    width: 100%;
    height: 100%;
    margin-bottom: 20rem;
}
.feature h1{
    font-size: 5rem;
    line-height: 5rem;
    margin-bottom: 4rem;
    text-align: center;
    text-transform: capitalize;
}
.products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem;
    justify-items: center;
}

.card{
    width: 25rem;
    height: 25rem;
    background-color: #efefef;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    margin-bottom: 2rem;
}
.card img{
    width: 80%;
    border-radius: 50%;
}
.buy-btn{
    background-color: #fff;
    border: 2px solid #efefef;
    padding: 1rem 2rem;
    border-radius: 1rem;
    line-height: 1rem;
    font-size: 1.5rem;
    margin-top: 1rem;
}

 /* services section  */

#services{
    padding: 0 20rem;
    width: 100%;
    height: 100%;
}
#services h1{
    font-size: 5rem;
    line-height: 5rem;
    margin-bottom: 5rem;
    text-align: center;
    text-transform: capitalize;
}
.services{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 5rem;
    justify-items: center;
    margin-bottom: 30rem;
}
.service{
    width: 80%;
}

.service img{
    width: 50%;
    height: 40%;
    display: flex;
    margin-left: 6rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.service h3{
    /* text-align: center; */
    text-transform: capitalize;
    line-height: 5rem;
    text-align: center;
}
.service p{
    text-align: center;
    line-height: 3rem;
}


/* footer css */

footer{
    margin-top: 5rem;
    font-size: 1rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efefef;
}


/* responsive css for mobile  */
@media (max-width: 576px) {
    header, .hero-section, .feature, #services{
        padding: 0 5rem;
    }
    .hero-section, .feature, #services{
        margin-bottom: 5rem;
    }
    header .logo h1{
        font-size: 2rem;
        width: 100%;
        line-height: 6rem;
    }
    .menu li{
        font-size: 1.5rem;
    }
    .menu a{
        margin-left: 1rem;
    }
    .hero-section{
        flex-direction: column;
    }
    .hero-left{
        order: 2;
        width: 100%;
    }
    .hero-left h1{
        width: 30rem;
        font-size: 3rem;
        line-height: 3rem;
        margin-bottom: 2rem;
    }
    .hero-left p{
        width: 100%;
        font-size: 2rem;
        margin-bottom: 5rem;
    }
    .hero-right{
        width: 100%;
    }
    .feature h1{
        font-size: 3rem;
        line-height: 6rem;
        margin-bottom: 2rem;
    }
    .products{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 2rem;
        justify-items: center;
    }
    #services h1{
        font-size: 3rem;
        line-height: 6rem;
        margin-bottom: 2rem;
    }
    .service h3{
        line-height: 3rem;;
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .service p{
        text-align: center;
        line-height: 2.5rem;
        font-size: 1.5rem;
    }
    .services{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 3rem;
        justify-items: center;
        margin-bottom: 10rem;
    }
    .service img{
        width: 30%;
        height: 30%;
        display: flex;
        margin-left: 10rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    footer{
        padding: 0 5rem;
    }
    footer p{
        font-size: 1rem;
    }
    
}
